{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block stylesheet %}{% endblock %}
{% block profile %}{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-10">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
{% block script %}{% endblock %}